html,
body {
  font-family: system-ui, sans-serif;
  padding: 0px 16px;
  background-color: #131127;
  color: #d2d2f1;
}
.remark-sticky-table {
  margin: 48px 0px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.remark-sticky-table-tr:nth-child(odd) {
  background-color: #15122a;
}

.remark-sticky-table-thead {
  border-bottom: 4px solid #131127;
  background-color: #1a1832;
  font-weight: 700;
  font-size: 18px;
  padding: 24px;
}

.remark-sticky-table-tbody {
  padding: 16px 24px;
}

h1,
h2 {
  color: #ffffff;
}
